		<script src="./assets/js/jquery.js"></script>
		<script src="./assets/js/bootstrap-transition.js"></script>
		<script src="./assets/js/bootstrap-tooltip.js"></script>
		<script src="./assets/js/bootstrap-popover.js"></script>
		<script src="./assets/js/bootstrap-button.js"></script>
		<script src="./assets/js/bootstrap-typeahead.js"></script>
		<script src="./assets/js/bootstrap-alert.js"></script>
		<script src="./assets/js/google-code-prettify/prettify.js"></script>
		<script src="./assets/js/codazo/codazo-vitamins.js"></script>
		<script src="./assets/js/zClip/jquery.zclip.min.js"></script>

	</body>
</html>