		<script src="./assets/js/jquery.js"></script>
		<script src="./assets/js/bootstrap-transition.js"></script>
		<script src="./assets/js/bootstrap-tooltip.js"></script>
		<script src="./assets/js/bootstrap-popover.js"></script>
		<script src="./assets/js/bootstrap-button.js"></script>
		<script src="./assets/js/bootstrap-typeahead.js"></script>
		<script src="./assets/js/bootstrap-alert.js"></script>
		<script src="./assets/js/google-code-prettify/prettify.js"></script>
		<script src="./assets/js/codazo/codazo-vitamins.js"></script>
		<script src="./assets/js/zClip/jquery.zclip.min.js"></script>

		<script src="./assets/js/google-code-prettify/lang-apollo.js"></script>
		<script src="./assets/js/google-code-prettify/lang-clj.js"></script>
		<script src="./assets/js/google-code-prettify/lang-css.js"></script>
		<script src="./assets/js/google-code-prettify/lang-go.js"></script>
		<script src="./assets/js/google-code-prettify/lang-hs.js"></script>
		<script src="./assets/js/google-code-prettify/lang-lisp.js"></script>
		<script src="./assets/js/google-code-prettify/lang-lua.js"></script>
		<script src="./assets/js/google-code-prettify/lang-ml.js"></script>
		<script src="./assets/js/google-code-prettify/lang-n.js"></script>
		<script src="./assets/js/google-code-prettify/lang-proto.js"></script>
		<script src="./assets/js/google-code-prettify/lang-scala.js"></script>
		<script src="./assets/js/google-code-prettify/lang-sql.js"></script>
		<script src="./assets/js/google-code-prettify/lang-tex.js"></script>
		<script src="./assets/js/google-code-prettify/lang-vb.js"></script>
		<script src="./assets/js/google-code-prettify/lang-vhdl.js"></script>
		<script src="./assets/js/google-code-prettify/lang-wiki.js"></script>
		<script src="./assets/js/google-code-prettify/lang-xq.js"></script>
		<script src="./assets/js/google-code-prettify/lang-yaml.js"></script>

	</body>
</html>