{% include 'common/header.twig' %}
{% include 'common/navigation.twig' %}

<div class="container">

	<div class="">
		<p>
		<form action="" method="post">
			<h1>Just paste</h1>
			{{ form_widget(form) }}

			<div id="preview-code" class="hide">
				<label for="pretty-code">Preview</label>
				<pre class="pre-scrollable prettyprint linenums" id="pretty-code"></pre>
			</div>
			<hr>
			<input type="submit" class="btn btn-primary btn-large" value="Codazo!"/>
		</form>
		</p>
	</div>

</div> <!-- /container -->

{% include 'common/footer.twig' %}