{% include 'common/header.twig' %}
{% include 'common/navigation.twig' with {'currentSection': currentSection} %}

<div class="container">

	<input type="hidden" id="form_lang" value="{{ language }}" />
	<input type="hidden" id="form_line" value="{{ first_line }}" />

	<div class="">
		<p>
		<h1>Show me the code!</h1>
		<ul class="nav nav-pills">
			<li class="">
				<a target="_blank" href="/{{ uid }}/raw">Raw</a>
			</li>
			<li class="">
				<a id="copy-link" data-type="url" data-copied="Copied" href="#" >Copy URL</a>
			</li>			
		</ul>
		<pre class="prettyprint linenums" id="view-pretty-code">{{ code }}</pre>
		<hr>
		</p>
	</div>

</div> <!-- /container -->

{% include 'common/footer.twig' %}